# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo / React Native
.expo/
dist/
build/
android/.gradle/
android/app/build/
ios/build/

# React Native build files
*.aar
*.so
*.a
*.o

# Python
venv/
__pycache__/
*.pyc

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db